{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container mb-1 mb-sm-3">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!--<div class="container-fluid body-container px-1 px-sm-3 mb-1 mb-sm-3">
        <div id="index-body-row" class="row justify-content-center">
            <div class="d-flex flex-column col-lg-10 px-3">
                <div class="black-box mt-auto">
                    <h1 id="index-speakout" class="text-white text-uppercase">
                        Health and training is for everyone
                    </h1>
                </div>
                <div class="black-box d-inline-flex flex-column">
                    <h4 class="text-white m-0 xs-screen">
                        Keep track of your progress and get motivation from others
                    </h4>
                    <h3 class="my-0">
                        <a href="" class="index-link text-white">Sign up for a free membership today!</a>
                    </h3>
                </div>
                <div class="black-box d-inline-flex flex-column mb-auto">
                    <h4 class="text-white m-0 xs-screen">
                        Look and feel great with our Merchandise and Supplements!
                    </h4>
                    <h2 class="my-0">
                        <a href="" class="index-link text-white">Go to Shop!</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>-->

    <div class="body-container container-fluid px-1 px-sm-3 mt-1 mb-3 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                <div class="col-12 col-md-6">

                    <div class="black-box mt-auto">
                        <h1 id="index-speakout" class="text-white text-uppercase">
                            Health and training is for everyone
                        </h1>
                        <h4 class="text-white my-0 xs-screen">
                            Get new weekly articles on training and nutrition and access to lots of programs to find what fits you!
                        </h4>
                        <h3 class="my-2">
                            <a href="{% url 'program_subscribe' %}" class="index-link text-white">Sign up today</a>
                        </h3>
                        <h4 class="text-white m-0 xs-screen">
                            Look and feel great with our Merchandise and Supplements!
                        </h4>
                        <h2 class="my-2">
                            <a href="{% url 'products' %}" class="index-link text-white">Go to Shop!</a>
                        </h2>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                
                    <div class="row">
                        <div class="col-12">
                            <h5>Latest in the shop!</h5>
                        </div>
                        {% for p in products %}
                            {% if forloop.counter <= 3 %}
                            <div class="col-4 p-0">
                                <div class="card mx-1">
                                    <img class="card-img-top" src="..." alt="">
                                    <div class="card-body">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Newest articles</h5>
                        </div>
                        {% for prog in programs %}
                            {% if forloop.counter <= 2 %}
                                <div class="col-12">
                                    <h5>
                                        {{ prog.title }}
                                    </h5>
                                    <p>
                                        {{ prog.snippet }}
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}