{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container container-index">
        <div class="row">
            <div class="col-11 my-5">
                <h1 id="index-speakout" class="display-4 text-white text-uppercase black-box p-3">
                    Health and training is for everyone
                </h1>
                <div class="my-2 black-box p-3 col-10">
                    <h4 class="text-white my-2">
                        Keep track of your progress and get motivation from others
                    </h4>
                    <h3 class="my-2">
                        <a href="" class="index-link text-white">Sign up for a free membership today!</a>
                    </h3>
                </div>
                <div class="my-2 black-box p-3 col-10">
                    <h4 class="text-white my-2">
                        Look and feel great with our Merchandise and Supplements!
                    </h4>
                    <h2 class="my-2">
                        <a href="" class="index-link text-white">Go to Shop!</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
