{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container body-container">
        <div id="index-body-row" class="row justify-content-center">
            <div class="d-flex flex-column col-lg-10 px-3">
                <div class="black-box mt-auto">
                    <h1 id="index-speakout" class="text-white text-uppercase">
                        Health and training is for everyone
                    </h1>
                </div>
                <div class="black-box d-inline-flex flex-column">
                    <h4 class="text-white m-0 xs-screen">
                        Keep track of your progress and get motivation from others
                    </h4>
                    <h3 class="my-0">
                        <a href="" class="index-link text-white">Sign up for a free membership today!</a>
                    </h3>
                </div>
                <div class="black-box d-inline-flex flex-column mb-auto">
                    <h4 class="text-white m-0 xs-screen">
                        Look and feel great with our Merchandise and Supplements!
                    </h4>
                    <h2 class="my-0">
                        <a href="" class="index-link text-white">Go to Shop!</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}