{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <!--  Header Text  -->
                    <h3 class="text-muted">My Profile</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div id="profile-info" class="row w-100 m-1 m-md-3 justify-content-center">
                <!--  Accordion for personal info and order history. Structure from Bootstrap  -->
                <!--  Automaticly showing personal information.  -->
                <div id="accordion" class="col-12 col-md-10 col-lg-7 p-0 profile-accordion">
                    <div class="card border-0">
                        <div class="card-header p-0" id="headingOne">
                            <button class="btn btn-wht btn-lg px-0 w-100 text-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <u>Delivery Information</u>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body p-3 border border-top-0 rounded-0">
                                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-black rounded-0">Submit Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--  Order history  -->
                    <div class="card border-0">
                        <div class="card-header p-0" id="headingTwo">
                            <button class="btn btn-wht btn-lg collapsed px-0 w-100 text-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <u>Order History</u>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body p-3 border border-top-0 rounded-0 order-history">
                                <table class="table table-sm table-borderless">
                                    <thead>
                                        <th>Order Number</th>
                                        <th>Date</th>
                                        <th>Items</th>
                                        <th>Order Total</th>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                                        {{ order.order_number|truncatechars:6 }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ order.date }}
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled">
                                                        {% for item in order.lineitems.all %}
                                                            <li class="small">
                                                                {{ item.product.friendly_name }} x {{ item.quantity }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    ${{ order.grand_total }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}">
    </script>
    {% if user.is_authenticated %}
        {% if user.first_name %}
            <script type="text/javascript">
                // Automatically add users name to form
                var fullName = "{{ user.first_name }} {{ user.last_name }}";
                $('#id_default_full_name').val(fullName);
                var userEmail = "{{ user.email }}";
                $('#id_default_email').val(userEmail);
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
