/* - Gå över all CSS och se att allt behövs


Reoccuring css values

colors:

RED - #E63946
BLACK - #232323 
GRAY - #8A8A8A
WHITE - #FFFFFF

font:
'Roboto', sans-serif;

*/

html {
    height: 100%;
}

body {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    display: block;
    position: relative;
    height: calc(100vh + 102px);
}

/* From CSS-tricks */
body::after {
    content: "";
    background: url('/media/dylan-nolte-ITDjGji__6Y-unsplash.jpg') no-repeat center center; /* sätt som en egen media query med align left på mindre skärmar? */
    background-size: cover;
    height: 100vh;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1,5rem;
    width: 1,5rem;
}

header {
    background-color: #E63946;
}

.header-container {
    padding-top: 72px;
}

#header-large {
    height: 72px;
}

#navbar-large {
    height: 30px;
}

#navbar-large > div > a {
    font-size: 0.9rem;
}

.logo-font {
    /* från index - ta bort om inte används */
}

.main-logo-link {
    width: fit-content;
}

.index-link {
    /* från index - ta bort om inte används */
}

#home-nav-icon {
    display: none;
}

#navbar-small-top {
    width: 100vw;
    height: 72px;
}

#navbar-small-ul {
    margin-left: auto !important;
}

#navbar-small-bottom {
    height: 66px;
    bottom: -2px;
    position: fixed;
    z-index: 2000;
    background-color: #232323;
}

footer {
    position: static;
    height: 144px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #232323;
    margin-bottom: 64px;
}

.btn-red {
    background: #E63946;
    color: #FFFFFF;
}

.btn-black {
    background: #232323;
    color: #FFFFFF;
}

.btn-wht {
    background: #FFFFFF;
    color: #232323;
}

.btn-red:active,
.btn-red:focus,
.btn-red:hover {
    background: #E63946;
    color: #FFFFFF;
}

.btn-black:active,
.btn-black:focus,
.btn-black:hover {
    background: #404040;
    color: #FFFFFF;
}

.btn-wht:active,
.btn-wht:focus,
.btn-wht:hover {
    background: #FFFFFF;
    color: #232323;
}

.text-black {
    color: #232323 !important;
}

.text-red {
    color: #E63946 !important;/* ta bort om inte används */
}

.border-black {
    border: 1px solid #232323 !important;
}

.border-red {
    border: 1px solid #E63946 !important;/* ta bort om inte används */
}

/*  --------  Media Queries  --------  */

/* Larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Big tablets and desktop */
@media (min-width: 768px) {

    body {
        color: #232323;
        font-family: 'Roboto', sans-serif;
        display: block;
        position: relative;
        height: calc(100vh + 108px);
    }

    body::after {
        content: "";
        background: url('/media/dylan-nolte-ITDjGji__6Y-unsplash.jpg') no-repeat center center; /* sätt som en egen media query med align left på mindre skärmar? */
        background-size: cover;
        height: 100vh;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;   
    }

    .header-container {
        padding-top: 102px;
    }

    footer {
        height: 152px;
        margin-bottom: 0;
        position: absolute;
    }
}

/* Very small mobile devices */
@media (max-width: 399.98px) {
    #main-logo-link-small {
        display: none;
    }

    #navbar-small-ul {
        margin-right: auto !important;
        width: 100vw;
    }

    #navbar-small-ul > li {
        margin: 0 auto;
    }

    #home-nav-icon {
        display: block;
    }
}

/* home/index template */

.container-index {
    display: block;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.4);
}

#index-speakout {
    font-weight: 700;
    font-style: italic;
}