html {
    height: 100%;
}

body {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    display: block;
    position: relative;
    min-height: calc(100vh + 146px);
}

a {
    text-decoration: none;
    color: inherit;
}

/* From CSS-tricks */
body::after {
    content: "";
    background: url('/media/dylan-nolte-ITDjGji__6Y-unsplash.jpg') no-repeat center center; /* sätt som en egen media query med align left på mindre skärmar? */
    background-size: cover;
    min-height: 100vh;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1,5rem;
    width: 1,5rem;
}

/* Header */
header {
    background-color: #E63946;
}

.header-container {
    padding-top: 72px;
    margin-bottom: 1rem;
}

#header-large {
    height: 72px;
}

.main-logo-link {
    width: fit-content;
}

/* Navigation */
#navbar-large {
    height: 30px;
}

#navbar-large > div > a {
    font-size: 0.9rem;
}

#home-nav-icon {
    display: none;
}

#navbar-small-top {
    width: 100vw;
    height: 72px;
}

#navbar-small-ul {
    margin-left: auto !important;
}

#navbar-small-bottom {
    height: 66px;
    bottom: -2px;
    position: fixed;
    z-index: 2000;
    background-color: #232323;
}

/* Body Container */
.body-container {
    min-height: calc(100vh - calc(134px + 2rem));
    margin-bottom: 1rem;
}

/* Footer */
footer {
    position: inherit;
    height: 144px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #232323;
    margin-bottom: 64px;
}

.footer-container {
    padding-top: 208px;
    bottom: 0;
    position: absolute;
}

/* Colors for text, buttons and other objects */
.btn-red {
    background: #E63946;
    color: #FFFFFF;
}

.btn-black {
    background: #232323;
    color: #FFFFFF;
}

.btn-wht {
    background: #FFFFFF;
    color: #232323;
}

.btn-red:active,
.btn-red:focus,
.btn-red:hover {
    background: #E63946;
    color: #FFFFFF;
}

.btn-black:active,
.btn-black:focus,
.btn-black:hover {
    background: #404040;
    color: #FFFFFF;
}

.btn-wht:active,
.btn-wht:focus,
.btn-wht:hover {
    background: #FFFFFF;
    color: #232323;
}

.text-black {
    color: #232323 !important;
}

.text-red {
    color: #E63946 !important;/* ta bort om inte används */
}

.border-black {
    border: 1px solid #232323 !important;
}

.border-red {
    border: 1px solid #E63946 !important;/* ta bort om inte används */
}

/* -------- Index Template -------- */

#index-body-row {
    min-height: calc(100vh - calc(134px + 2rem));
    margin-bottom: 1rem;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5rem;
}

#index-speakout {
    font-weight: 700;
    font-style: italic;
}

.index-link {
    text-decoration: underline;
}

/*  --------  Products Template  --------  */

.body-products {
    background-color: white;
}

#category-active {
    background-color: white !important;
    font-weight: 500;
    text-decoration: underline;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: sticky;
    left: calc(100vw - 70px);
    bottom: 20px;
}

.btt-link {
    cursor: pointer;
}

/*  --------  Product Detail Template  --------  */

#colors-dropdown > .active,
#flavors-dropdown > .active {
    color: #232323;
    background-color: rgba(0, 0, 0, 0.1)
}

.avail-color {
    width: 60px;
    height: 60px;
}

.color-text {
    font-size: 0.6rem;
}

/*  --------  Media Queries  --------  */

/* Larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    #prod-categories-lg {
        transform: translateX(45px);
    }
}

/* Big tablets and desktop */
@media (min-width: 768px) {

    body {
        color: #232323;
        font-family: 'Roboto', sans-serif;
        display: block;
        position: relative;
        min-height: 100vh;
    }

    body::after {
        content: "";
        background: url('/media/dylan-nolte-ITDjGji__6Y-unsplash.jpg') no-repeat center center; /* sätt som en egen media query med align left på mindre skärmar? */
        background-size: cover;
        min-height: 100vh;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;   
    }

    .header-container {
        padding-top: 102px;
    }

    .body-container {
        min-height: calc(100vh - calc(254px + 2rem));
    }

    footer {
        height: 152px;
        margin-bottom: 0;
        position: inherit;
    }

    .footer-container {
        padding-top: 152px;
    }

    /* Index */

    #index-body-row {
        min-height: calc(100vh - calc(254px + 2rem));
    }

    .black-box {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 1rem;
    }

    .black-box.d-inline-flex {
        margin-right: auto;
    }

    #index-speakout {
        font-size: 3.5rem;
    }

    /* Products and Product Details */

    #colors-dropdown,
    #flavors-dropdown {
    max-height: 80vh;
    overflow: scroll;
    z-index: 1040;
    }
}

/* Very small mobile devices */
@media (max-width: 399.98px) {
    #main-logo-link-small {
        display: none;
    }

    #navbar-small-ul {
        margin-right: auto !important;
        width: 100vw;
    }

    #navbar-small-ul > li {
        margin: 0 auto;
    }

    #home-nav-icon {
        display: block;
    }
}

/* Hiding objects extremely small devices */
@media (max-width: 331.98px) {
    .xs-screen {
        display: none;
    }
}
