<div id="navbar-small-top" class="row d-md-none mx-auto">
    <div class="col mt-1 px-1 d-flex">
        <a href="{% url 'home' %}" id="main-logo-link-small" class="nav-link main-logo-link my-auto text-white">
            <h2 class="logo-font my-auto">MyFitness</h2>
        </a>
        <ul id="navbar-small-ul" class="navbar-nav">
            <li id="home-nav-icon" class="list-inline-item">
                <a href="{% url 'home' %}" class="text-white nav-link">
                    <div class="text-center">
                        <i class="fas fa-home fa-lg"></i>
                        <br />
                        <p class="my-0">Home</p>
                    </div>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="text-white nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <i class="fas fa-search fa-lg"></i>
                        <br />
                        <p class="my-0">Search</p>
                    </div>
                </a>
                <div class="dropdown-menu w-100 px-3 py-2 my-0 border-0 rounded-0" aria-labelledby="mobile-search">
                    <form class="form" method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-white rounded-0" type="text" name="q" placeholder="Search our products" />
                            <div class="input-group-append">
                                <button class="form-control border-white rounded-0 btn btn-wht" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search text-red"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="list-inline-item">
                <a class="text-white nav-link" href="#" id="user-options-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg"></i></div>
                        <p class="my-0">Account</p>
                    </div>
                </a>
                <div class="dropdown-menu w-100 p-1 my-0 border border-white rounded-0 text-center" aria-labelledby="user-options-sm">
                    {% if request.user.is_authenticated %} {% if request.user.is_superuser %}
                    <a href="#" class="dropdown-item my-1"><p class="m-0">Product Management</p></a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item my-1"><p class="m-0">My Profile</p></a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item my-1"><p class="m-0">Logout</p></a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item my-1"><p class="m-0">Register</p></a>
                    <a href="{% url 'account_login' %}" class="dropdown-item my-1"><p class="m-0">Login</p></a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item">
                <a class="{% if grand_total %}font-weight-bold{% endif %} text-white nav-link" href="{% url 'cart' %}">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                        <p class="my-0">
                            {% if grand_total %} ${{ grand_total|floatformat:2 }} {% else %} $0.00 {% endif %}
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
