<div class="container d-md-none m-0">
    <div id="navbar-small-bottom" class="row w-100">
        <a href="{% url 'profile' %}" class="col-3 text-white border border-dark">
            <div class="text-center my-2">
                <span class="icon"><i class="fas fa-user-circle"></i></span>
                <br />
                <span>Profile</span>
            </div>
        </a>
        <a href="{% url 'products' %}" class="col-3 text-white border border-dark">
            <div class="text-center my-2">
                <span class="icon"><i class="fas fa-store"></i></span>
                <br />
                <span>Shop</span>
            </div>
        </a>
        <a href="{% url 'programs' %}?category=workouts" class="col-3 text-white border border-dark">
            <div class="text-center my-2">
                <span class="icon"><i class="fas fa-dumbbell"></i></span>
                <br />
                <span>Training</span>
            </div>
        </a>
        <a href="{% url 'programs' %}?category=diets" class="col-3 text-white border border-dark">
            <div class="text-center my-2">
                <span class="icon"><i class="fas fa-apple-alt"></i></span>
                <br />
                <span>Nutrition</span>
            </div>
        </a>
    </div>
</div>
