{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

            <!-- Fonts -->
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}
            <script src="https://kit.fontawesome.com/038b99068e.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>MyFitness {% block extra_title %}{% endblock %}</title>

    </head>
    <body>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row pt-3">
                <div class="col-12 col-md-4 my-auto">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link text-white">
                        <h2 class="logo-font my-auto">MyFitness</h2>
                    </a>
                </div>
                <div class="col-12 pb-1 col-md-4 my-auto">
                    <form method="GET" action="">
                        <div class="input-group w-100">
                            <input class="form-control border border-white rounded-0" type="text" name="q" placeholder="Search our products">
                            <div class="input-group-append">
                                <button class="form-control border-white rounded-0 btn btn-wht " type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search text-red"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-4 my-auto">
                    <ul class="list-inline list-unstyled text-right align-middle my-auto">
                        <li class="list-inline-item align-middle text-left">
                            <div class="border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="text-white">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="text-white">Account settings</a>
                                <br>
                                <a href="{% url 'account_logout' %}" class="text-white">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="text-white">Sign Up</a>
                                <br>
                                <a href="{% url 'account_login' %}" class="text-white">Login</a>
                            {% endif %}
                        </div>
                        </li>
                        <li class="list-inline-item align-middle">
                            <a class="nav-link text-white" href="">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                            $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="navbar-large" class="row d-none d-md-block">
                <div class="col text-center">
                    <a href="#" class="px-3 text-white">My Profile</a>
                    <a href="#" class="px-3 text-white">Shop</a>
                    <a href="#" class="px-3 text-white">Training</a>
                    <a href="#" class="px-3 text-white">Nutrition</a>
                    <a href="#" class="px-3 text-white">About</a>
                </div>
            </div>
        </header>


        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="container footer-container">
            <div class="row">
                <div class="col"></div>
            </div>
        </div>

        <footer class="container-fluid px-0 pt-auto">
            <div id="bottom-nav" class="row d-md-none m-0">
                <a href="#" class="col-3 text-white my-auto">
                    <div class="text-center">
                        <span class="icon"><i class="fas fa-user-circle"></i></span>
                        <br>
                        <span>Profile</span>
                    </div>
                </a>
                <a href="#" class="col-3 text-white my-auto">
                    <div class="text-center">
                        <span class="icon"><i class="fas fa-store"></i></span>
                        <br>
                        <span>Shop</span>
                    </div>
                </a>
                <a href="#" class="col-3 text-white my-auto">
                    <div class="text-center">
                        <span class="icon"><i class="fas fa-dumbbell"></i></span>
                        <br>
                        <span>Training</span>
                    </div>
                </a>
                <a href="#" class="col-3 text-white my-auto">
                    <div class="text-center">
                        <span class="icon"><i class="fas fa-apple-alt"></i></span>
                        <br>
                        <span>Nutrition</span>
                    </div>
                </a>
            </div>
            <div id="footer" class="row m-0 p-2">
                <div class="col-4 offset-1 text-white pl-4">
                    <p class="mb-2"><strong>About</strong></p>
                    <p class="m-0">
                        Short about page
                    </p>
                </div>
                <div class="col-2 text-white pl-4">
                    <p class="mb-2"><strong>Support</strong></p>
                    <p class="m-0">Contact</p>
                    <p class="m-0">FAQ</p>
                    <p class="m-0">Terms</p>
                </div>
                <div class="col-2 text-white pl-4">
                    <p class="mb-2"><strong>Navigate</strong></p>
                    <p class="m-0">Profile</p>
                    <p class="m-0">Shop</p>
                    <p class="m-0">Training</p>
                    <p class="m-0">Nutrition</p>
                </div>
                <div class="col-2 text-white pl-4">
                    <p class="mb-2"><strong>Social</strong></p>
                    <p class="m-0">Facebook</p>
                    <p class="m-0">Instagram</p>
                    <p class="m-0">YouTube</p>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>