{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">About</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-1 m-md-3">

                <div class="col-3 d-none d-md-block">
                    <ul id="about-nav" class="list-unstyled mt-5">
                        <li class="mx-2 my-1">
                            <a href="#" class="text-black"><u>About Us</u></a>
                        </li>
                        <li class="mx-2 my-1">
                            <a href="#" class="text-black"><u>Contact</u></a>
                        </li>
                        <li class="mx-2 my-1">
                            <a href="#" class="text-black"><u>FAQ</u></a>
                        </li>
                        <li class="mx-2 my-1">
                            <a href="#" class="text-black"><u>Terms & Conditions</u></a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 d-md-none text-center">
                    <ul class="navbar list-unstyled py-0 justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle btn btn-wht border-black btn-sm py-1 rounded-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Navigate
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">About Us</a>
                            <a class="dropdown-item" href="#">Contact</a>
                            <a class="dropdown-item" href="#">FAQ</a>
                            <a class="dropdown-item" href="#">Terms & Conditions</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-9 p-0">
                    <div class="col-12 col-md-11 p-0 mt-md-5 mb-md-3 text-justify">
                        <h5 class="mb-4">About MyFitness and the people behind</h5>
                        <h6>OUR CORE VALUES</h6>
                        <p>
                            These Core Values Unite Us And Remind Us What's Important
                        </p>
                        <h6>Customer FIRST</h6>
                        <p>
                            Everything we do, say, and feel starts with our customers! Every idea, program, project, and interaction has a customer-first mindset…and we don’t stop until the customer says WOW!
                            Fearless & Fast
                            We always strive to succeed, but we are not afraid to fail! (And when we do fail, we learn from our mistakes.) We are willing to take necessary risks because our mission is an urgent one.
                        </p>
                        <h6>Inclusive</h6>
                        <p>
                            We honor and encourage diversity, and we respect differences! We collaborate, share goals, support each other, and have fun and celebrate our wins.
                        </p>
                        <h6>Results Driven</h6>
                        <p>
                            We are passionate about results…whether it’s your body or our business. So, like you, we set ambitious goals, measure our performance, and strive to improve every single day.
                        </p>
                        <h6>Serving Communities</h6>
                        <p>
                            We give back to the communities to which we owe our success: our customers, colleagues, partners, family, friends, and neighbors.
                        </p>
                        <h6>Trust & Accountability</h6>
                        <p>
                            We empower and hold each other accountable to deliver on commitments and trust each other's positive intent.
                        </p>
                        <hr>
                        <div class="row w-100 m-0">
                            <div class="col-12 col-md-6 p-0 p-md-2">
                                <img src="{{ MEDIA_URL }}andreas-740x900.png" class="img-fluid mb-2" alt="Andreas">
                                <h5>Andreas Eriksson</h5>
                                <p>Andreas is MyFitness's CEO, specializing in business development and communication. Educated at the Stockholm School of Economics, and then as an entrepreneur in a number of capacities, which in 2014 led to MyFitness.</p>
                            </div>
                            <div class="col-12 col-md-6 p-0 p-md-2">
                                <img src="{{ MEDIA_URL }}alex-740x900.png" class="img-fluid mb-2" alt="Alex">
                                <h5>Alex Andresson</h5>
                                <p>Alex has a nearly 30-year background as a professional writer in various guises, and for the past 18 years has specifically covered the global fitness and fitness industry. Alex is Tyngre's editor-in-chief.</p>
                            </div>
                        </div>


                    </div>

                    <div class="col-12 col-md-11 p-0 mt-md-5 mb-md-3">
                        <h5 class="mb-4">Contact Us</h5>
                        <form>
                            <div class="form-group">
                                <label for="contact-name"><small>Full Name:</small></label>
                                <input type="text" class="form-control border-black rounded-0" id="contact-name" placeholder="Enter your full name">
                            </div>
                            <div class="form-group">
                                <label for="contact-email"><small>Email address:</small></label>
                                <input type="email" class="form-control border-black rounded-0" id="contact-email" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="contact-subject"><small>Select topic:</small></label>
                                <select class="form-control border-black rounded-0" id="contact-subject">
                                <option class="text-muted" value="contact-products" selected disabled>---------</option>
                                <option value="contact-products">Our products</option>
                                <option value="contact-programs">Our program subscriptions</option>
                                <option value="contact-order">An order or payment</option>
                                <option value="contact-unknown">Something else</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="contact-message"><small>Message:</small></label>
                                <textarea class="form-control border-black rounded-0" id="contact-message" rows="3"></textarea>
                            </div>
                            <button class="btn btn-black rounded-0" type="submit">Send</button>
                        </form>
                    </div>

                    <div class="col-12 col-md-11 p-0 mt-md-5 mb-md-3">
                        <h5 class="mb-4">Frequently asked questions</h5>
                        <h6>Are Your Products Safe For Athletes?</h6>
                        <p>
                            Our core performance range has been batch-tested by Informed Sport. This means your safe to use all our performance products such as Isolate, Concentrate, Recovery, Pre-Workout, BCAAs, Creatine. 
                        </p>
                        <h6>How long is the handling and shipping time?</h6>
                        <p>
                            Your order is usually sent within 24 hours (weekdays) after placing the order. Normal delivery time is 1-3 days. In the event of product releases, holidays or sales, the handling time will be longer, but you should still have your order within 4-5 working days. Due to the corona crisis, we currently have slightly longer delivery times than normal. Thanks for your understanding!
                        </p>
                        <h6>Can I track my order?</h6>
                        <p>
                            Yes. When your order is handed over to our logistics partner you'll recieve an additional email with all information about tracking.
                        </p>
                        <h6>What's the difference between whey and casein protein?</h6>
                        <p>
                            In general, it can be said that whey is a protein that is absorbed quickly in the body, which theoretically means that whey is better suited immediately after exercise. Casein is a slower protein and therefore saturates a little better. The big difference is the consistency, whey is thin and fits perfectly as a shake. Casein has a thicker texture and works well to make pudding, porridge or bake with. The most important thing to keep in mind to get the maximum effect from your strength training is not this but your total protein intake throughout the day, if you choose whey or casein will play less of a role. Try it out and choose the one you like the most!
                        </p>
                        <h6>How do I find my digital order history?</h6>
                        <p>
                            Go to 'My Account' / 'My Profile', and look under Order History.
                        </p>
                    </div>

                    <div class="col-12 col-md-11 p-0 mt-md-5 mb-md-3 text-justify">
                        <h5 class="mb-4">Terms and Conditions</h5>
                        <h6>
                            1. MyFitness
                        </h6>
                        <p class="small">
                            <strong>a)</strong> "MyFitness" is the trademark or registered trademark of MyFitness Retail Limited and/or our affiliates in Sweden and in other countries.
                            <br>
                            <strong>b)</strong> The material in the Web Site is copyright to MyFitness Retail limited or our content and technology providers. You are welcome to view, print and download the contents of the Web Site for personal use, but not for any commercial purposes.
                        </p>
                        <h6>
                            2. Web Site Information
                        </h6>
                        <p class="small">
                            <strong>a)</strong> We have tried to ensure that information provided in the Web Site is accurate. However, we make no representation and give no warranty of any kind in respect of the information.
                            <br>
                            <strong>b)</strong> We don't accept liability for any loss which may arise from reliance on information contained in the Web Site or in respect of any error or omission, except in relation to death or personal injury caused by our negligence.
                        </p>
                        <h6>
                            3. Description of Products
                        </h6>
                        <p class="small">
                            <strong>a)</strong> The description and specification of products in the Web Site is only approximate and we reserve the right to make changes which do not materially affect the quality or performance of those products.
                            <br>
                            <strong>b)</strong> We may correct any error appearing in the Web Site or withdraw any product from sale without incurring liability. Price and availability is also subject to change without notice.
                        </p>
                        <h6>
                            4. Ordering Products
                        </h6>
                        <p class="small">
                            <strong>a)</strong> You may order products from the Web Site by submitting a completed order form through the check-out procedure.
                            <br>
                            <strong>b)</strong> We will confirm acceptance of your order by e-mail to the address you have given and the sending of this e-mail (whether or not it is received) makes the contract between us.
                        </p>
                        <h6>
                            5. The Price and Payment
                        </h6>
                        <p class="small">
                            <strong>a)</strong> The price of the products will be the price quoted in the Web Site at the time we accept your order. The price will include any applicable value added tax, but not the cost of delivery.
                            <br>
                            <strong>b)</strong> In addition to the price, you will have to pay our delivery charges as quoted in the Web Site at the time we accept your order - unless you qualify for free delivery. The amount of these charges varies according to the method of delivery and the delivery address you specify in your order.
                            <br>
                            <strong>c)</strong> Payment is made by credit card via Stripe Payments at the time we accept your order. Refunds will generally be made by means of a credit to your original payment method.
                            <br>
                            <strong>d)</strong> Although every care is taken in the quality of content on this site, there may occasionally be an error and items may be mis-priced. In this event we will either: contact you to ask if you wish to cancel the order, or simply cancel the order and notify you, at our own discretion. We are under no obligation to supply goods at the incorrect price.
                        </p>
                        <h6>
                            6. Delivery of Products
                        </h6>
                        <p class="small">
                            <strong>a)</strong> We will arrange for delivery of the products you order by the method and to the address which you specify in the check-out procedure. The time for delivery will not be essential to the contract between us. We use third party service providers for deliveries.
                            <br>
                            <strong>b)</strong> If you do not take delivery of the products or supply adequate delivery instructions, we may cancel your order and retain the products. In this event, we will refund you the price of the products, but you will still be liable to pay any delivery charges.
                            <br>
                            <strong>c)</strong> If there is an error or any other delivery problem in respect of the products ordered, you must notify us in writing within 14 days after the delivery date. We will not be liable for any loss or damage if you fail to do this.
                        </p>
                        <h6>
                            7. General
                        </h6>
                        <p class="small">
                            The products advertised in the Web Site are intended for sale to persons dealing as consumers and are not for re-sale.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/profile.js' %}">
    </script>
{% endblock %}
