<!--  Modal snippet from Bootstrap  -->
<!--  Modal to handle brand delete from shop/all products page  -->
{% if request.user.is_superuser %}
    <div class="modal fade" id="deleteBrand{{ brand.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteBrandTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-0 border-black">
            <div class="modal-header row border-0">
                <div class="col-4 offset-4 text-center">
                    <h5 class="modal-title" id="deleteBrandTitle">Delete brand</h5>
                </div>
                <div class="col-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body text-center p-0">
                <p class="m-1">Are you sure you want to remove this brand?</p>
                <p class="m-1">Removing a brand is permanent and it can't be restored.</p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-wht border-black rounded-0 mx-2" data-dismiss="modal">Cancel</button>
                <a href="{% url 'delete_brand' brand.id %}" class="btn btn-danger rounded-0 mx-2">Delete</a>
            </div>
            </div>
        </div>
    </div>
{% endif %}

    <!--  Button code  -->
<!-- <button type="button" class="btn btn-wht border-black rounded-0 btn-sm" data-toggle="modal" data-target="#deleteBrand">Delete brand</button> -->