<!-- Styled inline and using Bootstrap for so it's easy to copy
and use for other pages or projects without specific CSS styling -->
<div class="p-0 m-0">
    <!--  Gray stars in the bottom  -->
    <p class="star-rating m-0" style="display: inline-block;position: absolute;">
        <small>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
            <i class="fas fa-star text-muted"></i>
        </small>
    </p>
    <!--  Yellow stars overlaying the gray stars  -->
    <p class="star-rating m-0" style="display: inline-block;position: sticky;">
        <small>
            {% if product.brand.rating == .5 %}
                <i class="fas fa-star-half text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 1 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 1.5 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star-half text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 2 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 2.5 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star-half text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 3 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-muted"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 3.5 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star-half text-warning"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 4 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-muted"></i>
            {% elif product.brand.rating == 4.5 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star-half text-warning"></i>
            {% elif product.brand.rating == 5 %}
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i>
            {% endif %}
        </small>
    </p>
</div>