{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Product Management</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <h5>Edit brand</h5>
                    <form method="POST" action="{% url 'edit_brand' brand.id %}" class="form m-2">
                        {% csrf_token %}
                        {{ brand_form | crispy }}
                        <a href="{% url 'products' %}" class="btn btn-black rounded-0">Cancel</a>
                        <button type="submit" class="btn btn-black rounded-0 float-right">Save Update</button>
                    </form>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#id_rating').attr({step:"0.5", max:"5", min:"1"});
            $('#id_price').attr({min:"0"});
        });
    </script>

{% endblock %}
