{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid body-container">
        <div class="row body-products justify-content-center mx-0">
            <div id="products-top" class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Products</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div id="products-content" class="row pb-4">
                <div id="products-q" class="col-products col-12 col-lg-2">
                    <div class="row">
                        <div id="prod-categories-lg" class="d-none d-lg-block ml-4 p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 py-1">
                                    <h4 class="text-black">Categoreis</h4>
                                </li>
                                {% for category in categories %}
                                    <li class="list-group-item border-0 py-1">
                                        <a class="text-black" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="products-field" class="col-products col-12 col-lg-10">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-sm-6 col-md-4 col-xl-3 border-bottom mt-3">
                                        <div class="card h-100 border-0">
                                            {% if product.image %}
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.friendly_product }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_product }}">
                                                </a>
                                            {% endif %}
                                            <div class="card-body pb-0 text-center">
                                                <p class="lead mb-0">{{ product.name }}</p>
                                                <p class="text-muted mb-0">{{ product.spec }}</p>
                                                <p class="font-weight-bold mb-0">${{ product.price }}</p>
                                            </div>
                                            <div class="card-footer bg-white pt-0 border-0 text-center">
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="#" class="btn btn-black rounded-0 my-1 py-1"><small>More Info</small></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}