{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid body-container px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center px-3 mx-0">
            <div id="products-top" class="row w-100 pt-2">
                <div class="col-12 col-sm-4 offset-sm-1 offset-lg-4 text-center mt-3">
                    <h3 class="text-muted">
                        {% if current_category %}
                            {% for cur in current_category %}
                                {% for cat in categories %}
                                    {% if cat == cur %}
                                        {{ cat.friendly_name }}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            Products
                        {% endif %}
                    </h3>
                </div>

                <div id="prod-categories-sm" class="d-lg-none pt-0 pt-sm-3 col-12 text-center col-sm-3 order-sm-first">
                    <div class="dropdown">
                        <button class="btn btn-wht border-black rounded-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories
                        </button>
                        <div class="dropdown-menu">
                            {% if current_category %}
                                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
                            {% endif %}
                            {% for category in categories %}
                                <a class="dropdown-item" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center d-none d-sm-block">
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div id="products-content" class="row pb-3">
                <div id="products-q" class="col-products col-12 col-lg-2">
                    <div class="row">
                        <div id="prod-categories-lg" class="d-none d-lg-block ml-4 mt-5 p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 py-1">
                                    <h4 class="text-black">Categories</h4>
                                </li>
                                {% if current_category %}
                                    {% for cur in current_category %}
                                        {% for category in categories %}
                                            {% if category == cur %}
                                                <li id="category-active" class="active list-group-item border-0 py-1">
                                                    <a class="text-black" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                                                </li>
                                            {% else %}
                                                <li class="list-group-item border-0 py-1">
                                                    <a class="text-black" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% else %}
                                    {% for category in categories %}
                                        <li class="list-group-item border-0 py-1">
                                            <a class="text-black" href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="products-field" class="col-products px-5 col-12 col-lg-10">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-12 col-sm-6 text-center py-2 py-sm-1 text-sm-left">
                                    <span class="text-muted small">
                                        {{ brands|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                                    </span>
                                </div>
                                <div class="col-12 col-sm-6 py-0 pr-3 d-inline-block text-right">
                                    <select id="sort-selector" class="custom-select custom-select-sm w-100 w-sm-75 rounded-0 border border-black">
                                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 text-center d-sm-none">
                                <hr class="w-75 mb-3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for brand in brands %}
                            {% for product in products %}
                                {% if brand.id == product.brand.id and product.thumbnail == True %}
                                    <div class="col-sm-6 col-md-4 col-xl-3 border-bottom mt-3">
                                        <div class="card h-100 border-0 pb-3">
                                            {% if product.image %}
                                                <a href="{% url 'product' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.friendly_name }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product' product.id %}">
                                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_name }}">
                                                </a>
                                            {% endif %}
                                            <div class="card-body pt-1 px-0 pb-3 text-center">
                                                {% if request.user.is_superuser %}
                                                    <div class="py-2">
                                                        <a href="{% url 'edit_brand' brand.id %}" class="btn btn-wht border-black rounded-0 btn-sm mx-1"><small><strong>Edit brand</strong></small></a>
                                                        <button type="button" class="btn btn-wht border-black rounded-0 btn-sm mx-1" data-toggle="modal" data-target="#deleteBrand{{ brand.id }}"><small><strong>Delete brand</strong></small></button>
                                                    </div>
                                                {% include 'includes/delete_brand_modal.html' %}
                                                {% endif %}

                                                <p class="text-muted mb-0"><small>{{ brand.producer }}</small></p>
                                                <p class="lead mb-0">{{ brand.friendly_name }}</p>
                                                {% include 'includes/star_rating.html' %}
                                                <p class="font-weight-bold mb-0 d-inline-block">${{ product.brand.price }}</p>
                                                <p class="text-muted mb-0 d-inline-block">- {{ brand.spec }}</p>
                                                <div class="co">
                                                    <a href="{% url 'product' product.id %}" class="btn btn-black rounded-0 btn-sm my-1 py-1"><small>More Info</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <div class="btt-button shadow-sm rounded-0 border border-black mt-3">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        });

        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}