{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 mt-1 mb-3 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div id="product-top" class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">{{ product.brand }} - {{ product.friendly_name }}</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div id="product-info" class="row w-100 justify-content-center">
                <div class="col-12 col-md-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.friendly_name }}">
                        </a>
                    {% else %}
                        <a href="#">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.friendly_name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-5 my-auto">
                    <div class="col d-md-none text-center">
                        <hr class="w-75 mb-3">
                    </div>
                    <p class="text-muted small "><a href="{% url 'products' %}"><u>Products</u></a> > <a href="{% url 'products' %}?category={{ product.brand.category }}"><u>{{ product.brand.category.friendly_name }}</u></a> > <u>{{ product.brand.friendly_name }} - {{ product.brand.spec }}</u> > <u>{{ product.friendly_name }}</u></p>
                    <p class="lead m-0">{{ product.friendly_name }}</p>
                    <p class="font-weight-bold mb-0">${{ product.brand.price }}</p>
                    {% include 'includes/star_rating.html' %}
                    <p class="small text-muted mt-2 mb-1">Avaliable {% if product.brand.category.id >= 5 %}sizes{% else %}flavors{% endif %}:</p>
                    <div class="dropdown">
                        <button class="btn border border-black rounded-0 dropdown-toggle" type="button" id="dropdownMenuButtonselect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>{{ product.friendly_name }}</span>
                        </button>
                        <div id="flavors-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButtonselect">
                            {% for prod in products %}
                                {% if prod.brand == product.brand %}
                                    <a class="dropdown-item" href="{% url 'product' prod.id %}">{{ prod.friendly_name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="small text-muted my-1">Quantity:</p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn btn-black rounded-0 border-black" value="Add to cart">
                                <a href="{% url 'products' %}">
                                    <p class="small mb-0 mt-2">Back to products page</p>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    {% if product.brand.description %}
                        <p class="py-2 mt-2 mb-0">{{ product.brand.description }}</p>
                    {% endif %}
                    {% if product.brand.category.id != 5 %}
                        {% if product.ingredients %}
                            <p class="py-2 text-muted small">{{ product.ingredients }}</p>
                        {% endif %}
                    {% elif product.brand.category.id == 5 %}
                        <p class="py-2 small text-muted mb-0">Also availiable in:</p>
                        {% for color in products %}
                            {% if color.thumbnail == True and color.brand.friendly_name == product.brand.friendly_name and color.brand != product.brand %}
                                <a href="{% url 'product' color.id %}">
                                    <div class="d-inline-block">
                                        <img class="img-thumbnail avail-color" src="{{ color.image.url }}" alt="{{ color.friendly_name }}">
                                        <p class="text-muted color-text">
                                            {{ color.brand.spec }}
                                        </p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="product-bottom" class="row w-100">
                <div class="col text-center mb-2">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'includes/quantity_input_script.html' %}
{% endblock %}