{% if field.value == False %}
    <div class="form-group">
        <div id="div_id_is_free" class="form-check custom-control custom-checkbox">
            <input type="checkbox" name="is_free" class="custom-control-input border-black rounded-0 checkboxinput form-check-input" id="id_is_free">
            <label for="id_is_free" class="form-check-label custom-control-label">This program post is free for everyone to see</label>
        </div>
    </div>
{% else %}
    <div class="form-group">
        <div id="div_id_is_free" class="form-check custom-control custom-checkbox">
            <input type="checkbox" name="is_free" class="custom-control-input border-black rounded-0 checkboxinput form-check-input" id="id_is_free" checked>
            <label for="id_is_free" class="form-check-label custom-control-label">This program post is free for everyone to see</label>
        </div>
    </div>
{% endif %}