{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Programs</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                <div class="col-12 col-md-10 p-0">
                    <h5>Create a new program post</h5>
                    <form id="programs-form" method="POST" action="{% url 'add_program' %}" class="form m-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p class="mb-2">Author</p>
                        {{ programs_form.media }}
                        {% for field in programs_form %}
                            {% if field.name != 'is_free' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {% include 'programs/includes/checkbox.html' %}
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'programs' %}" class="btn btn-black rounded-0">Cancel</a>
                        <button class="btn btn-black rounded-0 float-right" type="submit" value="Submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center m-0">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        var userId = "{{ user.id }}";
        var userName = "{{ user.first_name }} {{ user.last_name }}";
        $('#id_author').attr({value:userId, placeholder:userName, type:'hidden'});
        $('#div_id_author').attr({class:'border-black rounded-0 mb-3'});
        $('#div_id_author').children('label').html(userName).attr({class:'m-0'}).css({"padding": ".375rem .75rem", "color": "#"});

        $('#id_category').prepend('<option value="0" selected disabled>---------</option>');
    </script>
{% endblock %}
