{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 mt-1 mb-3 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Programs</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                <div class="col-10">
                    <h5>Edit a program post</h5>
                    <form id="programs-form" method="POST" action="{% url 'edit_program' program.id %}" class="form m-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in programs_form %}
                            {% if field.name != 'is_free' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {% include 'programs/includes/checkbox.html' %}
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'programs' %}" class="btn btn-black rounded-0">Cancel</a>
                        <button class="btn btn-black rounded-0 float-right" type="submit" value="Submit">Send</button>
                    </form>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
