{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 mt-1 mb-3 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Programs</h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                    {% if user.is_superuser %}
                        <div class="col-10 px-0 pb-3">
                            <a class="btn btn-black rounded-0" href="{% url 'add_program' %}">Add a new program post</a>
                        </div>
                    {% endif %}
                <div class="col-10 border-black rounded-0">
                    {% for program in programs %}
                        <ul class="list-unstyled mb-0">
                            <li class="mt-3 border-bottom rounded-0">
                                <a href="{% url 'program' program.id %}">{{ program.title }} - {{ program.author.first_name }} {{ program.author.last_name }}</a>
                                <br>
                                <p class="text-muted small mb-1"><u>
                                    {{ program.post_date }}
                                </u></p>
                                {{ program.body }}
                                {% if user.is_superuser %}
                                    {% if user == program.author %}
                                        <p>
                                            <a class="small" href="{% url 'edit_program' program.id %}">Edit post</a> | 
                                            <a class="small" href="{% url 'delete_program' program.id %}">Delete post</a>
                                        </p>
                                    {% elif user.id == 1 %}
                                        <p>
                                            <a class="small" href="{% url 'edit_program' program.id %}">Edit post</a> | 
                                            <a class="small" href="{% url 'delete_program' program.id %}">Delete post</a>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
