{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="body-container container-fluid px-1 px-sm-3 my-1 my-sm-3">
        <div class="row body-products justify-content-center mx-0">
            <div class="row w-100">
                <div class="col text-center mt-3">
                    <h3 class="text-muted">Programs
                    {% for current in current_category %}
                        {% for c in categories %}
                            {% if current.name == c.name %}
                                 - {{ c.friendly_name }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %} </h3>
                    <hr class="w-75 mb-3">
                </div>
            </div>
            <div class="row w-100 m-3 justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 px-0 pb-3">
                    {% if user.is_superuser %}
                        <a class="btn btn-black rounded-0" href="{% url 'add_program' %}">Add a new program post</a>
                    {% else %}
                        <a href="{% url 'program_subscribe' %}" class="text-black">
                            <p class="mb-0 mx-2">
                                <strong><u>Start your subsciption today!</u></strong> Get access to all of our programs and articles
                            </p>
                        </a>
                    {% endif %}
                </div>
                <div class="col-12 col-md-10 col-lg-8 border-black rounded-0">
                    <ul class="list-unstyled mb-0">
                        {% for program in programs %}
                            <li class="mt-2 pb-2 border-bottom rounded-0">
                                <a href="{% url 'program' program.id %}">
                                    <h5>
                                    {{ program.title }} - {{ program.author.first_name }} {{ program.author.last_name }}
                                    </h5>
                                    <p class="text-muted small mb-1"><u>
                                        {{ program.post_date }}
                                    </u></p>
                                {{ program.snippet }}
                                </a>
                                {% if user.is_superuser %}
                                    {% if user == program.author or user.id == 1 %}
                                        <p class="m-0">
                                            <a class="small" href="{% url 'edit_program' program.id %}">Edit post</a> | 
                                            <a class="small" href="{% url 'delete_program' program.id %}">Delete post</a>
                                        </p>
                                    {% endif %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row w-100">
                <div class="col text-center m-0">
                    <hr class="w-75 mb-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
